*{
	margin: 0;
}
@font-face
{
	font-family: Adamas-Regular;
	src: url('../fonts/Adamas-Regular.otf');
}
@font-face
{
	font-family: FlexDisplay-Thin;
	src: url('../fonts/FlexDisplay-Thin.otf');
}
@font-face
{
	font-family: Vetka;
	src: url('../fonts/Vetka.otf');
}
@font-face
{
	font-family: Archive;
	src: url('../fonts/Archive.otf');
}
@font-face
{
	font-family: Weston Free;
	src: url('../fonts/Weston Free.otf');
}
.name{
	font-size: 48px;
	font-weight: bold;
	padding-top: 40px;
	text-align: center;
	font-family: Adamas-Regular;
	color: #16a085;
	font-weight: bold;
	padding-bottom: 25px;
}
li{
	list-style-type: none;
}
.links{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #2ecc71;
	float: right;
	margin-right: 100px;
}
.paint{
	padding-top: 170px;
	font-size: 32px;
	font-family: Archive;
}
.desc{
	padding-top: 40px;
	font-size: 22px;
	font-family: Weston Free;
	color: #666666;
}
.codes{
	font-size: 126px;
	font-family: Archive;
}
/*.about{
	height: 60px;
	width: 20px;
	border-radius: 50%;
	background-color: red;
	float: right;
	margin-right: 30px;	
	margin-top: 40px;
	
}
.work{
	height: 60px;
	width: 20px;
	border-radius: 50%;
	background-color: red;
	float: right;
	margin-right: 30px;
	margin-top: -60px;
	opacity: 0.1;
}*/


.a{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #2ecc71;
	float: right;
	margin-right: 120px;
	opacity: 0.6;
	animation: rotate 5s;
	-webkit-animation: rotate 5s;
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.w{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: red;
	float: right;
	margin-right: -50px;
	opacity: 0.6;
	animation: rotate 5s;
	-webkit-animation: rotate 5s;
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.c{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #8e44ad;
	float: right;
	margin-right: -155px;
	opacity: 0.6;
	margin-top: 38px;
	animation: rotate 2s;
	-webkit-animation: rotate 2s;
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
	/*animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;*/
}
@keyframes rotate
{
from {transform : rotateY(0deg);}
to {transform : rotateY(360deg)}
}

@-webkit-keyframes rotate
{
from {-webkit-transform : rotateY(0deg)}
to {-webkit-transform : rotateY(360deg)}
}